/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800;900&family=Open+Sans:wght@400;600&display=swap');


/* Global */
html,
body {
	overflow-x: hidden;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--white-1);
}

:root {
	--white-1: #FAFAFA;
	--white-2: #F5F5F5;
	--white-3: #D0D0D0;
	--white-4: #A0A0A0;
	--black-1: #242424;
	--black-2: #404040;
	--black-3: #565656;
	--black-4: #727272;
	--border: #DFDFDF;
	--blue: #007BFF;
	--soft-blue: #DBEDFF;
	--linear-blue: linear-gradient(78.11deg, #007BFF 0%, #00B2FF 100%);
	--btn: #67CB69;
	--btn-hover: #488C49;
}

.mb-2rem {
	margin-bottom: 2rem;
}


/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
a,
.fill-btn,
.subtitle,
.brand {
	font-family: 'Nunito', sans-serif;
}

p,
p strong,
span,
span strong,
label {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-weight: 900;
	font-size: 3.625rem;
	line-height: 110%;
	margin-bottom: 0;
	color: var(--white-1);
}

h2 {
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 125%;
	margin-bottom: 0;
	color: var(--blue);
}

h3 {
	font-weight: 700;
	font-size: 2rem;
	line-height: 125%;
	margin-bottom: 0;
	color: var(--black-2);
}

h4 {
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 125%;
	margin-bottom: 0;
	color: var(--black-2);
}

h5 {
	font-weight: 700;
	font-size: 1.125rem;
	line-height: 145%;
	margin-bottom: 0;
	color: var(--black-2);
}


.brand,
.brand:hover {
	font-weight: 700;
	font-size: 2rem;
	line-height: 125%;
	margin-bottom: 0;
	color: var(--white-1);
}

.subtitle {
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 145%;
	color: var(--black-4);
}

.subtitle strong {
	font-size: 1.25rem;
	font-weight: 700;
	color: var(--white-2);
}

p,
input {
	font-size: 1rem;
	line-height: 150%;
	margin-bottom: 0;
	color: var(--black-4);
}

p strong {
	font-weight: 600;
	font-size: 1rem;
	line-height: 150%;
	margin-bottom: 0;
	color: var(--black-3);
}

span {
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 150%;
}

span strong {
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 150%;
}

label {
	font-weight: 600;
	font-size: 1.125rem;
}

a,
button {
	font-weight: 600;
	font-size: 1rem;
	line-height: 145%;
	text-decoration: none;
	transition: 250ms;
	color: var(--white-1);
}

button {
	border: none;
}

.fill-btn {
	font-weight: 800;
	font-size: 1.25rem;
}

.fill-btn.small {
	font-weight: 800;
	font-size: 1.125rem;
}

/* Assets */
.fill-btn {
	padding: 16px 28px;
	border-radius: 1000px;
	display: flex;
	align-items: center;
	width: fit-content;
	transition: 200ms;
	color: var(--white-1);
	background: var(--btn);
	text-align: center;
	cursor: pointer;
}

.fill-btn:hover {
	background: var(--btn-hover);
	color: var(--white-1);
}

.fill-btn.small {
	padding: 14px 26px;
}

.fill-btn.outline {
	background: var(--white-1);
	color: var(--btn);
	border: 2px solid var(--btn);
	padding: 12px 24px;
}

.fill-btn.outline:hover {
	background: var(--btn-hover);
	border: 2px solid var(--btn-hover);
	color: var(--white-1);
}

.fill-btn.outline.small {
	padding: 12px 24px;
}

.line {
	background-color: var(--soft-blue);
	height: 6px;
	width: 128px;
	border-radius: 1000px;
}


/* Navbar */
.navbar {
	padding: 16px 0;
	transition: 300ms;
}

.navbar-toggler {
	border: 0;
	padding: 0;
}

.navbar-toggler:focus {
	box-shadow: none;
}

.navbar-collapse {
	transition: none;
}

.navbar.scrolled {
	background-color: var(--white-1);
	box-shadow: 0px 8px 40px -8px rgba(44, 44, 44, 0.12);
}

.navbar.scrolled a {
	color: var(--black-2);
}

.navbar.scrolled .fill-btn {
	color: var(--white-1);
}

.navbar.scrolled .brand {
	color: var(--blue);
}

.dropdown-toggle::after {
	display: none;
}

.dropdown-toggle i {
	font-size: 14px;
}

#menyAvPaa {
	display: none;
}

#burger {
	cursor: pointer;
	width: 2rem;
	height: 1.70rem;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

#burger>div {
	height: 0.25rem;
	background-color: var(--white-2);
	border-radius: 0.25rem;
	transition: 300ms;
	z-index: 999;
}

.scrolled #burger>div {
	background-color: var(--black-2);
}

#menyAvPaa:checked~#burger>div:nth-child(1) {
	transform: translateY(11.7px) rotate(45deg);
}

#menyAvPaa:checked~#burger>div:nth-child(2) {
	opacity: 0;
}

#menyAvPaa:checked~#burger>div:nth-child(3) {
	transform: translateY(-11.4px) rotate(-45deg);
}


/* Section */
section {
	padding-top: 64px;
	padding-bottom: 64px;
}

section:first-of-type {
	padding-top: 88px;
	padding-bottom: 64px;
}


/* Header */
header {
	padding-top: 82.09px;
	background: var(--linear-blue);
}

header .img-fluid {
	height: 100%;
	object-fit: cover;
	overflow: inherit;
	object-position: center;
}

header .subtitle {
	color: var(--white-2);
}

header img {
	padding-top: 60px;
}

.header-content {
	padding-top: 104px;
	padding-bottom: 128px;
}


/* Plans */
#plans p {
	max-height: 22px;
}

.plan {
	padding: 32px;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
}

.plan h3 {
	color: var(--black-3);
}

.plan h4 {
	color: var(--black-1);
}

.plan p,
.plan p strong {
	color: var(--black-2);
}

.plan img {
	height: 22px;
}

.plan.black {
	border-radius: 12px;
	background-color: var(--black-1);
}

.plan.black h3 {
	color: var(--white-2);
}

.plan.black h4 {
	color: var(--white-1);
}

.plan.black p,
.plan.black p strong {
	color: var(--white-2);
}


/* Risk 0 */
#risk-0 {
	background-color: var(--soft-blue);
	margin-top: 24px;
	margin-bottom: 24px;
}

#risk-0 .line {
	background: rgba(0, 123, 255, 0.25);
}

#risk-0 p {
	color: var(--black-3);
	text-align: center;
}


/* Sua loja pronta em 3 passos */
.step-numb {
	display: flex;
	flex-direction: column;
}

.step-numb img {
	min-height: 40px;
	min-width: 40px;
}

.step-numb div {
	height: 100%;
	width: 4px;
	background-color: var(--border);
	margin: 8px auto;
	flex-grow: 1;
}


/* Review */
.review-card {
	background-color: var(--white-1);
	padding: 32px;
	box-shadow: 0px 8px 40px -8px rgba(44, 44, 44, 0.12);
	border-radius: 16px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


/* Slider */
.slider-bg {
	background-image: url(img/slider-bg.webp);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: contain;
}

.slider-shops img {
	height: 425px;
	box-shadow: 0px 8px 40px -8px rgba(44, 44, 44, 0.12);
	border-radius: 12px;
}

.prev,
.next {
	height: 40px;
	width: 40px !important;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 1000px;
	background-color: var(--btn);
}

.prev:hover,
.next:hover {
	background-color: var(--btn-hover);
}

.prev i,
.next i {
	height: 18px;
	color: var(--white-1);
}

/* FAQ */
section#FAQ {
	padding-top: 64px;
	padding-bottom: 152px;
}

div.accordion-item {
	background: transparent;
	border: 0;
	border-bottom: 1px solid var(--border);
}

div.accordion-item:last-of-type {
	border-radius: 0;
}

button.accordion-button {
	color: var(--black-2);
	background: transparent;
	display: flex;
	gap: 16px;
	padding: 32px 0 !important;
}

button.accordion-button:not(.collapsed) {
	background-color: transparent;
	box-shadow: none;
	color: var(--black-4);
}

button.accordion-button:focus {
	border: none;
	box-shadow: none;
}

button.accordion-button::after {
	background-image: url(img/down-arrow.svg);
	background-position: center;
}

button.accordion-button:not(.collapsed)::after {
	background-image: url(img/down-arrow.svg);
}

button.accordion-button {
	padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x) 0 var(--bs-accordion-body-padding-x);
}

div.accordion-body {
	padding: 0 0 28px 0;
}

/* Final CTA */
#final-cta {
	background-color: var(--blue);
}

#final-cta h2 {
	font-weight: 900;
	color: var(--white-1);
}

#final-cta .container {
	position: relative;
}

#final-cta img {
	position: absolute;
	z-index: 0;
	bottom: -64px;
}

#final-cta .row {
	position: relative;
	z-index: 1;
}


/* Footer */
footer {
	background-color: var(--black-1);
	padding: 48px 0 32px 0;
}

footer ul {
	gap: 0.5rem;
}

footer .fa-brands {
	color: var(--white-2);
	font-size: 2rem;
	transition: 200ms;
}

footer h4 {
	color: var(--white-1);
}

footer ul a,
footer ul a:hover {
	color: var(--white-3);
}

footer .copyright {
	padding-top: 2rem;
	border-top: 1px solid var(--black-2);
	color: var(--white-4);
}

footer .copyright img {
	height: 48px;
}

footer .brand,
footer .brand:hover {
	color: var(--blue);
}

.contacts a {
	color: var(--white-3);
}

.contacts .fa-whatsapp,
.contacts .fa-location-dot {
	font-size: 1.125rem;
	color: var(--white-3);
}

.contacts .fa-whatsapp:hover,
.contacts .fa-location-dot:hover {
	color: var(--white-3);
}

.footer-links-gap {
	gap: 8rem;
}


/* Floating Whatsapp */
.floating-whats {
	position: fixed;
	width: 64px;
	height: 64px;
	bottom: 40px;
	right: 40px;
	background-color: #25d366;
	border-radius: 100%;
	font-size: 30px;
	box-shadow: 0px 8px 40px -8px rgba(44, 44, 44, 0.12);
	z-index: 100;
	transition: 300ms;
}

.floating-whats:hover {
	background-color: #128c7e;
}

.floating-whats img {
	width: 40px;
}


/* Media queries */
@media (max-width: 1399.98px) {

	/* Footer */
	.footer-links-gap {
		gap: 6rem;
	}
}

@media (max-width: 1199.98px) {

	/* Plans */
	#plans p {
		max-height: none;
	}
}

@media (max-width: 991.98px) {

	/* Navbar */
	.navbar-collapse ul {
		height: 100vh;
		padding-top: calc(50vh - 231px);
	}

	.navbar a {
		font-size: 1.25rem;
	}

	/* Header */
	header img {
		padding-top: 0;
	}

	.header-content {
		padding-top: 48px;
		padding-bottom: 64px;
	}

	header .img-fluid {
		max-width: none;
		position: relative;
		width: 115%;
		right: 8%;
	}

	/* Services */
	.service-card.flex-lg-column {
		max-height: 316px;
	}

	/* Final CTA */
	#final-cta img {
		bottom: -60px;
	}

	/* Footer */
	.footer-links-gap {
		gap: 4rem;
	}
}

@media (max-width: 767.98px) {

	/* Header */
	header .img-fluid {
		width: 150%;
		right: 25%;
	}

	/* Services */
	.service-card img {
		display: none;
	}

	/* Footer */
	.footer-links-gap {
		gap: 3rem;
	}
}

@media (max-width: 575.98px) {

	/* Typography mobile */
	h1 {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 2.25rem;
	}

	/* Header */
	header .img-fluid {
		max-width: none;
		width: 200%;
		position: relative;
		right: 75.5%;
	}

	/* Footer */
	.footer-links-gap {
		gap: 2rem;
	}
}